<div class="form-content">
    <form (submit)="onSubmit()">
        <div class="image-content">
            <img *ngIf="game.image" src="{{game.image}}" alt>
        </div>
        <label for="name">
            <span>Nome:</span>
            <input type="text" name="name" id="name" [(ngModel)]="game.name">
        </label>
        <label for="title">
            <span>Título:</span>
            <input type="text" name="title" id="title" [(ngModel)]="game.title">
        </label>
        <label for="description">
            <span>Descrição:</span>
            <input type="text" name="description" id="description"
                [(ngModel)]="game.description">
        </label>
        <label for="image">
            <span>URL Image:</span>
            <input type="text" name="image" id="image" [(ngModel)]="game.image">
        </label>
        <label for="categories">
            <span>Categorias:</span>
            <select name="categories" id="categories"
                [(ngModel)]="categories">
                <option *ngFor="let category of categories"
                    value="{{category.id}}">{{category.name}}
                </option>
            </select>

        </label>
        <label for="price">
            <span>Preço:</span>
            <input type="text" name="price" id="price"
                [(ngModel)]="game.price">
        </label>
        <label for="stock">
            <span>Em estoque:</span>
            <input type="text" name="stock" id="stock"
                [(ngModel)]="game.stock">
        </label>
        <button>Salvar</button>
    </form>
</div>